@model EAD_Term_Project.Models.Video

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Video</legend>

        @Html.HiddenFor(model => model.VideoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThumbnailUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThumbnailUrl)
            @Html.ValidationMessageFor(model => model.ThumbnailUrl)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "/Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
